.nav {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
    color: black;
    width: 100px;
    height: 32px;    
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
    transition: all ease-in-out 300ms;
}

.button:hover,
.button:focus {
    background-color: #b2b2b2;
    color: white;
}

.active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}