.button {
  padding: 10px 7px 10px 7px;
  background-color: #e4e4e4;
  border: 1px solid #000000;
  color: black;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  width: 100px;
  transition: all ease-in-out 300ms;
}

.button:hover {
  background-color: #b2b2b2;
  color: white;
  cursor: pointer;
}

.label {
  margin: 10px;
  width: 50px;
}

.input {
  padding: 10px;
  margin: 10px;
  background-color:#eeeeee;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 300px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}
