.header {
    min-width: 440px;
    margin: 0 auto;
    max-width: 1024px;
    background-color: rgb(255, 255, 255);
    padding: 20px 10px;
}

.nav {
    display: flex;
    max-width: 540px;
    margin: 0 auto;    
    justify-content: space-between;
}